@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


img {
    max-width: 100%;
}

.main_section {
    background-image: url('./images/section1_bg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 90%;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
}

.header img {
    max-width: 250px;
    height: 50px;
}

.header_text p {
    margin: 0;
    font-weight: 600;
    color: #fff;
}

.header_text span {
    color: #005bcf;
}

.header_text .header_second_text {
    text-align: end;
}

.section1_img {
    overflow: hidden;

}


.section1_text_img img {
    max-width: 150px;
}

.section1_heading {
    display: flex;
}

.section1_heading .section1_btn button {
    background-color: #005bcf;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 4px 15px;
    margin-right: 6px;
    margin-bottom: 12px;
}

.section1_heading h1 {
    font-size: 60px;
    color: #fff;
}

.section1_social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}

.section1_social ul {
    list-style-type: none;
}

.section1_social ul li {
    background-color: #005bcf;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    padding-left: 0;
    padding-top: 10px;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}

.section1_section .header_icon {
    width: 125px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.tifi_token_main {
    display: flex !important;
    flex-wrap: wrap !important;
    /* justify-content: center !important; */
    align-items: baseline !important;
}

.tifi_token_main p {
    color: #fff !important;
    margin-top: 20px !important;
    font-size: 17px;
}

.tifi_token_main .tifi_token_copy {
    background-color: #005bcf !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 5px !important;
    padding: 4px 21px !important;
    font-size: 16px !important;
    margin-left: 10px !important;
    display: flex !important;
    position: relative;
}

.tifi_token_copy a {
    font-size: 14px;
    margin: 0;
    cursor: pointer;
}

.tifi_token_copy img {
    width: 15px;
    height: 16px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 1px;
}

.tifi_token_copy .tooltiptext {
    visibility: hidden;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    right: -96px;
    bottom: 24px;
    z-index: 1;
}

.tifi_token_copy.active .tooltiptext {
    visibility: visible;
}

.section2_img {
    margin-right: 0;
    margin-left: auto;
}

.section2_text h1 {
    color: #fff;
    font-weight: 600;
}

.section2_text h1 span {
    color: #005bcf;
}

.section2_text p {
    color: #fff;
    margin: 0;
}

.section2_text_btn {
    display: flex;
    justify-content: end;
}

.section2_text_btn button {
    background-color: #005bcf;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 4px 15px;
    margin-right: 12px;
}

.carousel_main {
    background-image: url('./images/carousel_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.carousel_main h1 {
    text-align: center;
    color: #fff;
    margin: 0;
    margin-bottom: 30px;
}

.burns_section {
    background-image: url('./images/section3_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.burn_heading span {
    color: #005bcf;
}

.burn_heading {
    color: #fff;
    font-weight: 600;
}

.burn_text {
    color: #fff;
}

.burns_section .col-md-3 {
    margin-right: 15px;
}

.Tokenomics_section {
    background-image: url('./images/full_men.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 50px 0;
}

.Tokenomics_section h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 50px;
}

.token_heading {
    color: #fff;
    font-size: 22px;
}

.footer_social {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer_social ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}


.footer_social ul li {
    background-color: #005bcf;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    text-align: center;
    padding-top: 8px;
    color: #fff;
    margin-right: 15px;
}


.tifi_tech {
    padding: 50px 0;
}

.tifi_tech h1,
.tifi_tech p {
    text-align: center;
}

.tifi_ecosystem {
    color: #fff;
    padding-top: 200px;
}

.continue_btn {
    background-color: #005bcf;
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 25px;
    margin-right: 12px;
}

.token_details {
    padding-bottom: 500px;
}

.continue_btn_col {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}


.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.slick-slide img {
    display: block;
    width: auto;
    margin: auto;
}

.tifi_ecosystem h4 {
    font-weight: 700;
}

.tifi_ecosystem p {
    font-size: 16px;
    margin: 0;
}

.progress_btn {
    background-color: #005bcf;
    color: #fff;
    font-size: 12px;
    margin-top: 4px;
    border-radius: 10px;
    border: none;
}

.tifi_tech {
    background-image: url('./images/tifi_tech.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    color: #fff;
}

.moonmap_main {
    background-image: url('./images/moonmap_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 50px 0;
    color: #fff;
}

.moonmap_main h1 {
    text-align: center;
}

.back_top {
    background-color: #005bcf;
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 6px 44px;
    font-size: 12px;
}

footer {
    text-align: center;
    background-color: #111;
    padding: 0 0 20px 0;
    color: #fff;
}

footer p {
    font-size: 14px;
    margin-top: 15px;
    letter-spacing: .5px;
    margin-bottom: 0;
}

footer a {
    color: #fff;
}

.moonmap {
    color: #fff;
    text-align: center;
}

.dot {
    width: 100%;
    height: auto;
    border-radius: 100px;
    text-align: center;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-track {
    display: flex !important;
    align-items: start !important;
    justify-content: center !important;
    text-align: center !important;
}

.dot span {
    display: flex;
    width: 30px;
    height: 30px;
    background: rgb(255 255 255);
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}


.slick-initialized .slick-slide {
    padding: 10px 0;
}



.moonmap.slick-slide.slick-current.slick-active .dot span {
    width: 40px;
    height: 40px;
    outline: 1px solid white;
    outline-offset: 4px;
}



.moonmap h5 {
    font-size: 18px;
    font-weight: 700;
}

.moonmap p {
    font-size: 14px;
    margin: 10px;
    font-weight: 400;
}

.dot span img {
    width: 0;
    padding: 0;
}

.moonmap.slick-slide.slick-current.slick-active .dot img {
    padding-top: 0;
    width: auto;
    max-width: 20px;
}

.dot {
    height: 40px;
}

.move .slick-list {
    position: relative;
}

.move .slick-list::before {
    content: '';
    position: absolute;
    width: 100%;
    background: white;
    top: 30px;
    height: 1px;
}

.slick-dots .slick-active button {
    border: 2px solid #fff;
    border-radius: 100px;
    color: #fff;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 7px;
    line-height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.token_details .col-md-3 {
    margin-right: 20px;
    margin-bottom: 30px;
}

.section4 {
    background-image: linear-gradient(to right, #00023D, #010012, #000);
    padding: 50px 0;
    color: #fff;
    overflow: hidden;
}

.section4 h1 {
    text-align: center;
    margin-bottom: 30px;
}

.slick-carousel,
.move {
    cursor: pointer;
}

.tifi_allverse h3 {
    font-size: 35px;
    font-weight: 600;
}

.tifi_allverse p {
    font-size: 16px;
}

.eco_row_img {
    width: 60px;
    margin-bottom: 10px;
}

.tifi_allverse_img {
    width: 600px;
}

.dex_bg {
    background-image: url('./images/dex_bg1.png');
    padding: 25px;
    border-radius: 50px;
    background-size: cover;
}

.tifi_token {
    background-image: url('./images/token_bg2.png');
    background-size: cover;
    padding: 30px;
    border-radius: 50px;
}

.tifi_app {
    background-image: url('./images/mob_bg.png');
    background-size: cover;
    padding: 25px;
    border-radius: 50px;
}

.nft_bg {
    background-image: url('./images/nft_bg.png');
    background-size: cover;
    padding: 25px;
    border-radius: 50px;
}



@media (max-width: 1200px) {
    .section1_social {
        display: none;
    }

    .section1_text_img {
        text-align: center;
    }

    .section1_heading h1 {
        font-size: 30px;
        text-align: center;
        margin: 20px 0;
    }

    .section1_btn {
        text-align: center;
    }

    .tifi_token_main h5 {
        font-size: 10px !important;
        margin-right: 5px;
    }

    .section2_text {
        text-align: center;
    }

    .section2_text_btn {
        justify-content: center;
    }
}

@media (max-width: 767px) {

    .all_header_icon{
        text-align: center;
        margin-top: 20px;
    }

    .tifi_token_main {
        justify-content: center;
    }

    .tifi_token_copy a {
        font-size: 11px;
        margin: 0;
        cursor: pointer;
        margin-bottom: 0px;
    }

    .tifi_token_copy .tooltiptext {
        visibility: hidden;
        width: 120px;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        right: -24px;
        bottom: 24px;
        z-index: 1;
    }

    .section1_text_img {
        display: none;
    }

    .dex_bg,
    .tifi_token,
    .tifi_app,
    .nft_bg {
        margin: 15px;
    }


    .make_row_reserve {
        flex-direction: column-reverse;
    }

    .tifi_token h1 {
        font-size: 25px;
        margin-bottom: 25px;

    }

    .tifi_tech p {
        font-size: 15px;
    }

    .Tokenomics_section h1 {
        font-size: 30px;
    }

    .tifi_ecosystem {
        padding-top: 20px;
    }

    .token_details {
        padding-bottom: 50px;
        text-align: center;
    }

    .token_details .col-md-3 {
        margin-right: 0;
    }

    .section2_text h1 {
        font-size: 25px;
    }

    .section2_text p {
        font-size: 13px;
    }

    .section2_text_btn button {
        margin-top: 20px;
    }

    .burns_section .col-md-3 {
        text-align: center;
    }

    .header_text .header_second_text {
        text-align: center;
    }

    .header_text {
        margin-top: 20px;
        text-align: center;
    }

    .Tokenomics_section {
        background-image: url('./images/section1_bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 0;
        overflow: hidden;
        margin-top: -2px;
    }

    .continue_btn_col {
        margin-top: 35px;
    }

    .section2_row {
        flex-direction: column-reverse;
    }


}

.tifi_eco_img_section {
    text-align: center;
}

.tifi_eco_img_section img {
    animation: rotation 20s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}